.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #09d3ac;
}

.width-wrapper {
  width: 800px;
  margin:auto;
  margin-top: 20px;
}

.end-point-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.end-point-description {
  margin-left: 20px;
}

.end-point-row {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  border-radius: 0.25rem;
  padding: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.end-point-row * {
  padding-left: 10px;
  align-self: center;
  margin-bottom: 0px;
}

.end-point-row-last {
  margin-left: auto;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.end-point-collapse {
  margin-bottom: 20px;
}

.end-point-detail {
  background: #e9ecef;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0.25rem;
}

.request-form-container {
  margin-bottom: 20px;
}
